{% extends 'administration/admin-dashboard.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <strong>Client Profile</strong>
        </div>
    </div>
</div>
 <div class="row">
     <div class="col-sm-offset-4 col-sm-4">
         <strong>Profile Image Goes Here</strong>
     </div>
 </div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-3">
        <div class="page-header text-center">Personal Information</div>
        <p>Client Name:KILIMO K CORNELIUS</p>
        <p>Phone:KILIMO K CORNELIUS</p>
        <p>Email Address:KILIMO K CORNELIUS</p>
    </div>

     <div class="col-sm-3">
        <div class="page-header text-center">Property Details</div>
        <p>Client Name:KILIMO K CORNELIUS</p>
        <p>Phone:KILIMO K CORNELIUS</p>
        <p>Email Address:KILIMO K CORNELIUS</p>
    </div>

     <div class="col-sm-3">
        <div class="page-header text-center">Actions</div>
        <p>Client Name:KILIMO K CORNELIUS</p>
        <p>Phone:KILIMO K CORNELIUS</p>
        <p>Email Address:KILIMO K CORNELIUS</p>
    </div>
</div>
{% endblock %}