{% extends 'hostelmanager/index.html' %}
{% block content %}
 <div class="row">
     <div class="jumbotron">
         <div class="container-fluid">
             <h2>Quality Products</h2>
             <p>CoEazzy ensures development of quality products based on users Requirements</p>
         </div>
     </div>
 </div>
<div class="row">
    <div class="row"><div class="col-sm-12"><div class="page-header"><h2 class="text-center">Our Core Values</h2></div> </div> </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="page-header"><strong>Quality</strong></div> </div>
        <div class="col-sm-4"><div class="page-header"><strong>Ethical</strong></div>
            <p>Being ethical is good</p>

        </div>
        <div class="col-sm-4"><div class="page-header"><strong>Loyal</strong></div>
            <p>This is where we belong.Loyalty and transparency is really who we are</p>
        </div>
    </div>
</div>

<!--Contact Us Page-->

<div class="row">
    <div class="row"><div class="col-sm-12"><div class="page-header"><h2 class="text-center">Contact Us</h2></div> </div> </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="page-header"><strong>Location</strong></div> </div>
        <div class="col-sm-4"><div class="page-header"><strong>Contact Info</strong></div>
            <p>Being ethical is good</p>

        </div>
        <div class="col-sm-4"><div class="page-header"><strong>Social Media</strong></div>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
                <li>Google+</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}