{% extends 'hostelmanager/index.html' %}
{% block content %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header text-center"><h3>Are you Looking for an Hostel?.Let <strong>CoEazzy</strong> find you one.</h3></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Budget e.g 2500" id="amount">
                </div>
            </div>
            <div class="col-sm-4">

                <input type="text" class="form-control" placeholder="Location" id="location">
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                  <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span> Search</button>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="page-header"><strong>Meet Hostel Owners</strong></div>
        <p>Hostel Registered in our application get filled within two weeks.</p>
    </div>
    <div class="col-sm-4">
        <div class="page-header"><strong>View Registered Hostels</strong></div>
        <p>We have over hundred registered hostels in our application</p>
    </div>
    <div class="col-sm-4">
        <div class="page-header"><strong>See What Tenants Say</strong></div>
        <p>We have been able to accomodate over 500 students in the various hostels through our application.Here what some of
        our tenants say</p>
    </div>
</div>
{% endblock %}