{% extends 'hostelmanager/index.html' %}
{% block content %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header text-center"><h3>Are you Looking for an Hostel?.Let <strong>CoEazzy</strong> find you one.</h3></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Budget e.g 2500" id="amount">
                </div>
            </div>
            <div class="col-sm-4">

                <input type="text" class="form-control" placeholder="Location" id="location">
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                  <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span> Search</button>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12 pull-left">
        <div class="page-header"><h3>Quality Products</h3></div>
        <p><strong>Tuyei Software Solutions</strong> works tirelessly driven by passion ,motivated by clients to ensure that we develop the products
        meeting the required standards with the customer as the first priority.</p>

    </div>
</div>
<div class="row">
    <div class="col-md-12 pull-right">
        <div class="page-header"><h3>Customer Satisfaction</h3></div>
        <p><strong>Tuyei Software Solutions</strong> works tirelessly driven by passion ,motivated by clients to ensure that we develop the products
        meeting the required standards with the customer as the first priority.</p>

    </div>
</div>
<div class="row">
    <div class="col-md-12 pull-right">
        <div class="page-header"><h3>Portability</h3></div>
        <p>We believe that your businesses should have an aspect of portability.We have worked to ensure that you become your own manager wherever you are and therefore
        a mobile centered application is what we do.Our applications must be compatible in all your mobile devices.</p>

    </div>
</div>

<div class="row">
    <p class="col-md-4 col-lg-4">
        <div class="page-header"><strong>Meet Hostel Owners</strong></div>
        <p>Our application works best to ensure that the Tenants get the most preferred hostels based on their degree of afordaboiliy.</p><p></p><strong>CoEazzy</strong>undestands that mae
    rketing is an important quality for an investor and coeazzy makes it easy by informing users about hostels they are looking for.</p>
    </div>
    <div class="col-md-4 col-lg-4">
        <div class="page-header"><strong>View Registered Hostels</strong></div>
        <p>We have over hundred registered hostels in our application</p>
    </div>
    <div class="col-md-4 col-lg-4">
        <div class="page-header"><strong>See What Tenants Say</strong></div>
        <p>We have been able to accomodate over 500 students in the various hostels through our application.Here what some of
        our tenants say</p>
    </div>
</div>
{% endblock %}