{% extends 'hostelmanager/index.html' %}
{% block content %}
{% load staticfiles %}
<div class="row">
    <div class="jumbotron">
        <h3>Get the best software product for your housing and get it managed on your phone.</h3>
    </div>

</div>
<div class="row">

    <div class="col-sm-12">
        <div class="page-header text-center"><h2>Our Products</h2></div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="page-header"><strong>M~Nyumba</strong></div>
        <p><img src="{% static 'media/payment.jpg' %}" class="img-rounded" alt="Payment" width="304" height="236"></p>
        <p><strong>M~Nyumba</strong> lets rental owners  manage your various hostels using your own mobile phone.The not only manages hostels but also ensures that the record management is automated.The application also automates the payment
            of rental fees using the various common payment services.Let us get it started.
        </p>
        <p><strong>M~Nyumba</strong> supports the following payment services.</p>
        <strong>
            <ul>
            <li>M~Pesa</li>
            <li>Airtel Money</li>
            <li>Eazzy Pay</li>
        </ul>
        </strong>

    </div>
    <div class="col-md-4">
        <div class="page-header"><strong>M~Leta</strong></div>
        <p><img src="{% static 'media/messaging.png' %}" class="img-rounded" alt="Messaging" width="304" height="236"></p>
        <p>Would you like to pass an information to all your tenants at once?.<strong>CoEazzy</strong> has catered for that .You can send an sms to all
         your tenants at once.The application will also ensure reminding your clients on late payment of rental fees. </p>
        <p>Our sms module performs the following tasks:</p>
        <strong>
            <ul>
                <li><a href="">Bulk messaging with Clients</a> ->Check out Documentation</li>
                 <li><a href="">Automatic sms reminder of rent dates</a>->Check out Documentation</li>
                 <li><a href="">Late rent delayment sms notification</a>->Check out Documentation </li>
            </ul>
        </strong>

    </div>
    <div class="col-md-4">
        <div class="page-header"><strong>M~Chama</strong></div>
        <p><img src="{% static 'media/manager.jpg' %}" class="img-rounded" alt="Manager" width="304" height="236"></p>
        <p>Our system is backed with an Hostel Manager which ensures that you can easilly manage your hostels
            .You can know all <strong>free rooms</strong> in an hostel ,occupied rooms among other activities that an hostel agent can do. </p>

    </div>
</div>

<div class="row">
    <div class="row">
        <div class="col-sm-12"><div class="page-header text-center"><h2>Meet Our Clients</h2></div> </div>
    </div>
    <div class="row">
        <div class="col-sm-3">Mr.Kaburu</div>
        <div class="col-sm-3">Mr.Riobs</div>
        <div class="col-sm-3">Mr.James Ng'ang'a</div>
        <div class="col-sm-3">Mr.Patrick Gitau</div>
    </div>
</div>

{% endblock %}